<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOLUCIONS - Programa Electoral</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="/static/img/logoSolucions.webp" type="image/x-icon">
</head>
<header> 
    <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container">
            
            <!-- Botón hamburguesa para dispositivos móviles -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Contenido del menú de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Sitges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vilanova.html">Vilanova i la Geltrú</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vendrell.html">Vendrell</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="roquetes.html">Roquetes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header-content">
        <div class="text-container">
            <h1>SOLUCIONS</h1>
            <h2>El Partit de Tots</h2>
            <h2>Sitges</h2>
        </div>
        <div class="logo-container">
            <img src="/static/img/logoSolucions.webp" alt="Logo">
        </div>
    </div>
</header>
<body>
    <br>
    <h1>DONACIONES</h1>
    <br>
    <p>Puedes realizar una donación para ayudarnos y seguir adelante con Solucions.</p>
    <br>
    <div style="display: flex; gap: 10px;">
        <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding: 30px;">
            <a>
                <img style="width: 300px;" src="/static/img/Paypal.png" alt="Paypal">
            </a>
        </div>  
        <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding: 30px; vertical-align:center;">
            <a>
                <img style="width: 300px; vertical-align: center;" src="/static/img/Bizum.png" alt="Bizum">
            </a>
        </div>
    </div>

<footer class="footer text-center">
    <div class="container">
        <div class="row">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <nav>
                <a href="about.html" class="mx-3">Sobre nosotros</a>
                <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=info@solucions.org" target="_blank">Contactanos</a>
                <a href="/templates/donations.html" class="mx-3">Donaciones</a>
            </nav>
        </div>

        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center ">
                <a href="https://x.com" target="_blank" class="social-icon mx-2" title="X">
                    <i class="fab fa-x"></i>
                </a>
                <a href="https://instagram.com" target="_blank" class="social-icon mx-2" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://facebook.com" target="_blank" class="social-icon mx-2" title="Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://tiktok.com" target="_blank" class="social-icon mx-2" title="TikTok">
                    <i class="fab fa-tiktok"></i>
                </a>
            </div>
        </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script para que cuando las cajas de la info del programa electoral sean impares se centre la ultima caja -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const iconSection = document.querySelector('.icon-section');
        const iconBoxes = document.querySelectorAll('.icon-box');

        // Si el número de icon-boxes es impar, agregar clase "odd" a icon-section
        if (iconBoxes.length % 2 !== 0) {
            iconSection.classList.add('odd');
        }
    });
</script>


</body>
</html>
