{% extends 'base.html' %}

{% block content %}

<h1>DONACIONES</h1>
<p>Puedes realizar una donación para ayudarnos y seguir adelante con Solucions.</p>
<div style="display: flex; gap: 10px;">
    <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding: 30px;">
        <a href="https://paypal.com">
            <img style="width: 300px;" src="/static/img/Paypal.png" alt="Paypal">
        </a>
    </div>  
    <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding: 30px; vertical-align:center;">
        <a href="https://bizum.es">
            <img style="width: 300px; vertical-align: center;" src="/static/img/bizum.png" alt="Bizum">
        </a>
        <p>622 44 33 54</p>
    </div>
</div>


{% endblock %}
